@import "tailwindcss";

@font-face {
  font-family: "AvenirLTPro";
  src: url("/fonts/AvenirLTProLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "AvenirLTPro";
  src: url("/fonts/AvenirLTProBook.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AvenirLTPro";
  src: url("/fonts/AvenirLTProMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "AvenirLTPro";
  src: url("/fonts/AvenirLTProRoman.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "AvenirLTPro";
  src: url("/fonts/AvenirLTProHeavy.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "AvenirLTPro";
  src: url("/fonts/AvenirLTProBlack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eaeaea;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "AvenirLTPro", sans-serif;
  box-sizing: border-box;
}
